.numeros-grid {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.numeros-grid h3{
    font-size: 30px;
    font-family: 'Playfair Display SC';
    margin-bottom: .5rem;
}

.numeros-grid span {
    font-family: monospace;
    font-weight: bold;
    font-size: 25px;
    color: #e54;
}