.tooltip {
    position: absolute;
    z-index: 500;
    background: rgba(0, 0, 0, 0.514);
    box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0, 0, 0, 0.514);
    padding: 3px;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    max-width: 150px;
    border-radius: 2px;
}